:root{
    --bg_color_1: #222831;
    --bg_color_2: #31363F;
    --bg_color_3: #76ABAE;
    --font_color: #EEEEEE;
    --main_font: "IBM Plex Sans", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--main_font);
    color: var(--font_color);
    background-color: var(--bg_color_1);
}

.container{
    width: 100%;
    background-color: var(--bg_color_2);
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
}

.container img{
    filter: invert(100%);
    margin:10px;
    border: 2px solid red;
}

.container>:nth-child(1){
    padding-left: 20px;
    width: 50px;
}

.container>:nth-child(2){
    padding-left:150px;
}

#navbar{
    margin-right: 20px;;
}

#navbar ul{
    display: flex;
    justify-content:end;
}

#navbar ul li{
    box-sizing: border-box;
    padding: 10px 20px;
    list-style: none;
}

#navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: var(--font_color);
}

#welcome-section{
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

#welcome-section h1{
    font-size: 4rem;
    
}

#welcome-section h2{
    font-size: 2rem;
    font-style: italic; 
    font-weight: 200; 
    color: var(--bg_color_3); 
}

#projects{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
}

#projects h2{
    padding: 20px 0;
    font-weight: 400;
    font-size: 40px;
}

.tile-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.project-tile{
    width: 300px;
    height: 350px; 
    background-color: var(--bg_color_2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-tile a h3{
    padding: 20px 0;
    text-align: center;
    color: var(--bg_color_3);
}

.project-tile a{
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.project-tile img{
    width:300px;
    height: 285px;
    object-fit:fill;
    
}

#contacts{
    height:80vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
}

#contacts>div>p{
    padding: 40px 0;
    font-weight: 300;
    font-size: 60px;
    text-align: center;
    font-style: italic;
}

#contacts .link-container{
    width: 100%

}

.link-container ul{
    display: flex;
    justify-content: space-evenly;
}

.link-container li{
    list-style: none;
}

.link-container a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 300;
    color: var(--font_color);
}

footer{
    width:100%;
    display: flex;
    justify-content: flex-end;
    background-color: var(--bg_color_2);
}

footer a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: var(--font_color);
    padding: 20px 40px 20px 0;
    
}

.button-to-top{
    position: absolute;
    background-color: var(--bg_color_3);
    padding: 5px 20px;
    border-radius: 10%;
    margin: 0 20px;
    right:50px;
    opacity: 0.5;
}

.button-to-top a{
    text-decoration: none;
    font-family: var(--main_font);
    font-weight: 400;
    font-size: larger;
    color:var(--font_color);
}

@media (max-width: 900px) {

    .container>:nth-child(2)>h1{
        font-size:1.5rem;
    } 

    #navbar ul li a{
        font-size: 15px; 
    }

    #navbar{
        margin-right: 10px;
    }

    #welcome-section h1{
        font-size: 3rem;
        
    }
    
    #welcome-section h2{
        font-size: 1.7rem;
        
    }

    #projects h2{
        font-size: 30px;
    }

    .tile-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .button-to-top{
        right:10px; 
    }
    }
   

@media (max-width: 500px){

    .container{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .container img {
        filter: invert(100%);
        margin: 10px;
        border: 2px solid red;
    }

    .container>:nth-child(2) {
        padding-left:10px;
        background:red;
        width: 200px;
    }

    .container>:nth-child(1) {
        padding:0;
        width: 100px;
        position:relative;
        left:-40px;
    }
}